body {
    /*    height: 100%;*/
    margin: 0;
    font-size: 16px;
}
a {
    color: rgba(0, 136, 204, 0.8) !important;
    text-decoration: none;
}
header {
    font-weight: 600;
    color: #090909;
    font-size: 20px;
    margin-bottom: 20px;
}
.clearfix:after {
    display: inline-block;
    content: "";
    height: 0;
    visibility: hidden;
    clear: both;
}
#container {
    display: flex;
    width: 100%;
    min-height: 654px;
    margin-top: 50px;
    /*            background: url(images/body_bg2.png) 0 0 repeat;*/
}
aside {
    flex: 1;
    /*    min-height: 800px;*/
    padding: 10px;
    overflow: hidden;
    box-shadow: 3px 5px 5px #ccc;
}
#showDetail {
    flex: 3;
}
#drop-area {
    display: flex;
    width: 70%;
    height: 200px;
    /*            line-height: 200px;*/
    text-align: center;
    border: 2px dashed #ddd;
    padding: 10px;
    margin: 20px auto;
}
#drop-area .drop-instructions {
    display: block;
    height: 30px;
    margin: auto;
}
#drop-area .drop-over {
    display: none;
    font-size: 25px;
    /*            height: 30px;*/
    margin: auto;
}
#drop-area.over {
    background: #ffffa2;
    border: 2px dashed #000;
}
#drop-area.over .drop-instructions {
    display: none;
}
/*        #drop-area.over .drop-over {
            display: block;
        }*/

#drop-area.over .drop-over {
    display: block;
    font-size: 23px;
}
#file-list {
    /*            list-style: none;*/
    margin-top: 4em;
    margin-bottom: 3em;
}
#file-list li {
    /*            border-bottom: 1px solid #000;*/
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
#file-list li.no-items {
    border-bottom: none;
}
#file-list div {
    margin-bottom: 0.5em;
}
img {
    width: 100%;
}
#file-list .progress-bar-container {
    width: 400px;
    height: 10px;
    border: 1px solid #555;
    margin-bottom: 20px;
}
#file-list .progress-bar-container.uploaded {
    height: auto;
    border: none;
}
#file-list .progress-bar {
    width: 0;
    height: 10px;
    font-weight: bold;
    background: #6787e3;
}
#file-list .progress-bar-container.uploaded .progress-bar {
    display: inline-block;
    width: auto;
    color: #6db508;
    background: transparent;
}
.input {
    position: relative;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid #eee;
    overflow: hidden;
}
#files-upload {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
/*    width: 200px;*/
/*    height: 20px;*/
}
#canvas {
    display: block;
    margin: 30px auto;
    box-shadow: 3px 3px 12px #ccc;
}
#navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin: 0;
    font-size: 16px;
    box-shadow: 0 3px 3px #eee;
    background: #fff;
}
#logo {
    float: left;
    width: 100px;
    height: 100%;
}
#teamLogo {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url(../images/a7a409ea.logo.png) 50% 40% no-repeat;
}
nav {
    width: 400px;
    height: 100%;
    float: left;
}
.navList {
    float: left;
    height: 100%;
    margin: 0;
}
.navList li {
    float: left;
    height: 100%;
    line-height: 50px;
    padding: 0 20px;
    margin: 0 10px;
    list-style-type: none;
    color: #383838;
    cursor: pointer;
}
.active {
    background: #e88;
    color: #FFF;
}
#filterBtnList {
    text-align: center;
}
button {
    background: #00a9a9;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    margin: 10px;
}
.mouseover {
    background: #eee !important;
    box-shadow: 0 0 3px #ccc;
}
.active {
    background: #eee !important;
}
.bounce {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}
/**********************animation***********************/

@keyframes bounce {
    0% {
        transform: translateY(-100%)
    }
    10% {
        transform: translateY(-80%)
    }
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-15px)
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-100%)
    }
    10% {
        -webkit-transform: translateY(-80%)
    }
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px)
    }
}